/* smooth hover underline effect */

.nav-item {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  text-decoration-line: none;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.nav-item:hover {
  --tw-text-opacity: 1;
  color: rgb(48 90 48 / var(--tw-text-opacity))
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.top-1\/2 {
  top: 50%
}

.left-1\/2 {
  left: 50%
}

.z-\[100\] {
  z-index: 100
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.aspect-square {
  aspect-ratio: 1 / 1
}

.h-screen {
  height: 100vh
}

.h-24 {
  height: 6rem
}

.h-full {
  height: 100%
}

.h-4 {
  height: 1rem
}

.h-0\.5 {
  height: 0.125rem
}

.h-0 {
  height: 0px
}

.h-\[300px\] {
  height: 300px
}

.h-32 {
  height: 8rem
}

.h-14 {
  height: 3.5rem
}

.h-\[500px\] {
  height: 500px
}

.h-\[350px\] {
  height: 350px
}

.h-20 {
  height: 5rem
}

.h-44 {
  height: 11rem
}

.h-\[145px\] {
  height: 145px
}

.h-\[200px\] {
  height: 200px
}

.h-40 {
  height: 10rem
}

.w-full {
  width: 100%
}

.w-40 {
  width: 10rem
}

.w-32 {
  width: 8rem
}

.w-80 {
  width: 20rem
}

.w-\[290px\] {
  width: 290px
}

.w-max {
  width: -moz-max-content;
  width: max-content
}

.w-3\/4 {
  width: 75%
}

.w-1\/4 {
  width: 25%
}

.flex-grow {
  flex-grow: 1
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
  cursor: pointer
}

.list-none {
  list-style-type: none
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-3 {
  gap: 0.75rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-5 {
  gap: 1.25rem
}

.gap-1 {
  gap: 0.25rem
}

.gap-10 {
  gap: 2.5rem
}

.gap-4 {
  gap: 1rem
}

.gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem
}

.gap-y-1 {
  row-gap: 0.25rem
}

.divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)))
}

.overflow-hidden {
  overflow: hidden
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-auto {
  overflow-y: auto
}

.scroll-smooth {
  scroll-behavior: smooth
}

.break-words {
  overflow-wrap: break-word
}

.break-all {
  word-break: break-all
}

.rounded-\[4px\] {
  border-radius: 4px
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-y-0 {
  border-top-width: 0px;
  border-bottom-width: 0px
}

.border-x-0 {
  border-left-width: 0px;
  border-right-width: 0px
}

.border-r-0 {
  border-right-width: 0px
}

.border-l-0 {
  border-left-width: 0px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-t-0 {
  border-top-width: 0px
}

.border-b {
  border-bottom-width: 1px
}

.border-solid {
  border-style: solid
}

.border-none {
  border-style: none
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(48 90 48 / var(--tw-border-opacity))
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.border-primary\/50 {
  border-color: rgb(48 90 48 / 0.5)
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.border-b-white\/30 {
  border-bottom-color: rgb(255 255 255 / 0.3)
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(0 100 96 / var(--tw-bg-opacity))
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(48 90 48 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-\[\#B0CFBE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(176 207 190 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-light-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(230 240 234 / var(--tw-bg-opacity))
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.object-scale-down {
  -o-object-fit: scale-down;
     object-fit: scale-down
}

.p-5 {
  padding: 1.25rem
}

.p-3 {
  padding: 0.75rem
}

.p-2\.5 {
  padding: 0.625rem
}

.p-2 {
  padding: 0.5rem
}

.p-0\.5 {
  padding: 0.125rem
}

.p-0 {
  padding: 0px
}

.p-1\.5 {
  padding: 0.375rem
}

.p-1 {
  padding: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.pt-3 {
  padding-top: 0.75rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pr-10 {
  padding-right: 2.5rem
}

.text-center {
  text-align: center
}

.text-justify {
  text-align: justify
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(48 90 48 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-paragraph {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.no-underline {
  text-decoration-line: none
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.duration-150 {
  transition-duration: 150ms
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1
}

.hover\:border-primary:hover {
  --tw-border-opacity: 1;
  border-color: rgb(48 90 48 / var(--tw-border-opacity))
}

.hover\:bg-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(48 90 48 / var(--tw-bg-opacity))
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(48 90 48 / var(--tw-text-opacity))
}

.hover\:underline:hover {
  text-decoration-line: underline
}

.focus\:border-primary:focus {
  --tw-border-opacity: 1;
  border-color: rgb(48 90 48 / var(--tw-border-opacity))
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus\:ring-primary:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(48 90 48 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .sm\:h-28 {
    height: 7rem
  }

  .sm\:h-\[245px\] {
    height: 245px
  }

  .sm\:h-52 {
    height: 13rem
  }

  .sm\:w-40 {
    width: 10rem
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .sm\:flex-row {
    flex-direction: row
  }

  .sm\:gap-1 {
    gap: 0.25rem
  }

  .sm\:gap-10 {
    gap: 2.5rem
  }

  .sm\:border-r-2 {
    border-right-width: 2px
  }

  .sm\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }

  .sm\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
  }

  .sm\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

@media (min-width: 768px) {
  .md\:mt-24 {
    margin-top: 6rem
  }

  .md\:flex {
    display: flex
  }

  .md\:h-\[500px\] {
    height: 500px
  }

  .md\:h-52 {
    height: 13rem
  }

  .md\:h-\[200px\] {
    height: 200px
  }

  .md\:h-\[375px\] {
    height: 375px
  }

  .md\:w-96 {
    width: 24rem
  }

  .md\:w-1\/4 {
    width: 25%
  }

  .md\:w-3\/4 {
    width: 75%
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }

  .md\:flex-row {
    flex-direction: row
  }

  .md\:flex-wrap {
    flex-wrap: wrap
  }

  .md\:items-center {
    align-items: center
  }

  .md\:justify-center {
    justify-content: center
  }

  .md\:gap-5 {
    gap: 1.25rem
  }

  .md\:gap-1 {
    gap: 0.25rem
  }

  .md\:gap-x-5 {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem
  }

  .md\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }

  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem
  }

  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
  }

  .md\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }

  .md\:pl-20 {
    padding-left: 5rem
  }

  .md\:pr-10 {
    padding-right: 2.5rem
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
  }

  .md\:no-underline {
    text-decoration-line: none
  }
}

@media (min-width: 1024px) {
  .lg\:flex {
    display: flex
  }

  .lg\:hidden {
    display: none
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .lg\:flex-row {
    flex-direction: row
  }

  .lg\:flex-col {
    flex-direction: column
  }

  .lg\:justify-end {
    justify-content: flex-end
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem
  }
}

@media (min-width: 1280px) {
  .xl\:col-span-2 {
    grid-column: span 2 / span 2
  }

  .xl\:mt-20 {
    margin-top: 5rem
  }

  .xl\:h-full {
    height: 100%
  }

  .xl\:h-\[245px\] {
    height: 245px
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }

  .xl\:flex-row {
    flex-direction: row
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}

@media (min-width: 1536px) {
  .\32xl\:h-\[250px\] {
    height: 250px
  }

  .\32xl\:h-\[200px\] {
    height: 200px
  }

  .\32xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }

  .\32xl\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem
  }

  .\32xl\:px-40 {
    padding-left: 10rem;
    padding-right: 10rem
  }
}

