@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-marcellus {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

/* hexagon shape in landing page  */
.hexagon {
  position: relative;
  width: 7.5rem;
  height: 8rem;
  background-color: #305A30;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}



/* mobile sidebar show and hide  */
#mobile-sidebar {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#mobile-sidebar.show {
  opacity: 1;
  transform: translateX(0);
}

/* line separator between nav items except last one  */
@media (min-width: 1024px) {
  .nav-ul > li:not(:last-child) {
    border-right: 1px solid rgb(209 213 219);
  }
  .nav-ul > li{
    padding: 0px 12px;
  }
}

.service-button:not(:last-child) {
  border-right: 1px solid rgb(209 213 219);
}


.service-btn-active , .package-btn-active{
  background-color: #305A30;
  color: white;
}

/* about page page css starts */

.paragraph-text{
  text-align: justify;
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity)) /* #616161 */;
}

/* about page page css ends */

/* membership page css starts */

.premium-container, .loyalty-container, .wellness-card-container {
  font-family: 'Marcellus', serif;
  display: flex;
  flex-direction: column;
}

.membership-title, .loyalty-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.border-line {
  width: 300px;
}

.membership-benefits, .loyalty-benefits {
  font-family: 'DM Sans', sans-serif;
  margin-top: 1.25rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: #4a4a4a; 
  font-size: 0.875rem; 
}

.service-benefits{
  font-family: 'DM Sans', sans-serif;
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: #4a4a4a; 
  font-size: 0.9rem;
}

.membership-benefits > li, .loyalty-benefits >li{
  display: flex;
  gap: 0.5rem;
  z-index: -10;
}

.service-benefits>li{
  display: flex;
  gap: 0.25rem;
}

.icon {
  font-size: 1.75rem;
  color: #305A30;
}

/* Image Container */
.membership-image-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 1536px) {
  .membership-image-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.membership-image {
  height: 300px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .membership-image {
    height: 250px;
  }
}

@media (min-width: 1024px) {
  .membership-image {
    height: 325px;
  }
}

@media (min-width: 1280px) {
  .membership-image {
    height: 350px;
  }
}

@media (min-width: 1536px) {
  .membership-image {
    height: 400px;
  }
}



.wellness-card-container{
  align-items: center;
  margin-bottom: 2.5rem;
}

/* membership page css ends */


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scroll {
  overflow: hidden;
}

/* active navbar css */

.nav-item.active {
  text-decoration: underline;
  color: #305A30;
  font-family: 600;
}

.nav-link:hover{
  text-decoration: underline;
  transition: width 0.3s ease;
}


#gallery-scroll > .owl-nav > .owl-prev, #gallery-scroll > .owl-nav > .owl-next {
  position: absolute;
  z-index: 40;
  top: 40%;
  background-color: rgba(255,255,255,0.5) !important;
  padding: 0px 10px !important;
  color: white !important;
  font-size: 60px;
}

#gallery-scroll > .owl-nav > .owl-prev{
  left: 20px;
}
#gallery-scroll > .owl-nav > .owl-next{
  right: 20px;
}


#testimonial-scroll > .owl-nav > .owl-prev, #testimonial-scroll > .owl-nav > .owl-next {
  position: absolute;
  z-index: 40;
  top: 40%;
  background-color: rgba(255,255,255,0.5) !important;
  color: #305A30 !important;
  padding: 0px 10px !important;
  font-size: 60px;
}

#testimonial-scroll > .owl-nav > .owl-prev{
  left: 20px;
}
#testimonial-scroll > .owl-nav > .owl-next{
  right: 20px;
}