@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-marcellus {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

/* hexagon shape in landing page  */
.hexagon {
  position: relative;
  width: 7.5rem;
  height: 8rem;
  background-color: #305A30;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


/* mobile sidebar show and hide  */
#mobile-sidebar {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#mobile-sidebar.show {
  opacity: 1;
  transform: translateX(0);
}

/* line separator between nav items except last one  */
@media (min-width: 1024px) {
  .nav-ul > li:not(:last-child) {
    border-right: 1px solid rgb(209 213 219);
  }
  .nav-ul > li{
    padding: 0px 12px;
  }
}

.service-button:not(:last-child) {
  border-right: 1px solid rgb(209 213 219);
}


.service-btn-active , .package-btn-active{
  background-color: #305A30;
  color: white;
}
